{% assign q = site.data.groups.officerlist | where: "office", page.officer %}
{% assign office = site.data.people.offices | where: "shortname", page.officer | first %}
<h2><a name="contacts"></a><br>{{ office.longname }} Points of Contact</h2>

<h3>Kingdom of Drachenwald</h3>
<dl>  
 {% for item in q %}
 {% assign group = site.data.groups.grouplist | where: "group", item.group | first %}
  {% if group.group == "Drachenwald" or group.group == "Southern" or group.group == "Central" %}
    {% include officer-bio.html holder=item group=group longname=office.longname sidebar=false showbio=true %}
  {% endif %}
  {% endfor %}
</dl>

<h3>Principality and Baronial Contacts</h3>
<dl>
  {% for item in q %}
  {% assign group = site.data.groups.grouplist | where: "group", item.group | first %}
  {% if  group.group == "Nordmark" or group.group == "Knights Crossing" or group.group == "Aarnimetsä" or group.group == "Insulae Draconis" %}
    {% include officer-bio.html holder=item group=group longname=office.longname sidebar=false showbio=true %}
  {% endif %}
  {% endfor %}
</dl>


