---
title: Their Royal Highnesses, the Heirs of Drachenwald
gallery:
  - image_path: 
    title: 
  - image_path: 
    title: 
---
<p align="center">
    <a href="{{ site.baseurl }}{% link royals/index.html %}" class="btn btn--primary">King & Queen</a>
    <a href="#" class="btn btn--inverse">The Heirs</a>
    <a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
	<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<h2 style="text-align: center;"><a name="heirs"></a>Their Royal Highnesses<br/>The Heirs of Drachenwald</h2>

<div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
    {% include gallery %}
</div>


<table>
<tr>
<td align="center">
  <div style="text-align: center;"><a href="mailto:crownprince@drachenwald.sca.org">crownprince@drachenwald.sca.org</a></div>
</td>
<td align="center">
  <div style="text-align: center;"><a href="mailto:crownprincess@drachenwald.sca.org">crownprincess@drachenwald.sca.org</a></div>
</tr>

<tr>
  <td><b>About the prince </b><br>
  
  </td>
  
  <td valign="top"><b>About the princess</b><br>

     </td>
</tr>

<tr>
  <td><b>His Highness is interested in:</b><br>

  </td>
  
  <td><b>Her Highness is interested in:</b><br>

  </td>
</tr>

<tr>
  <td><b>His Highness likes:</b><br>

  </td>
  
  <td><b>Her Highness likes:</b><br>

  </td>
</tr>

<tr>
  <td><b>His Highness dislikes:</b><br>

  </td>
  
  <td><b>Her Highness dislikes:</b><br>

  </td>
</tr>

<tr>
  <td><b>Please feed His Highness:</b><br>

  </td>
  
  <td><b>Please feed Her Highness:</b><br>

  </td>
</tr>

<tr>
  <td><b>Please do not feed His Highness:</b><br>

  </td>
  
  <td><b>Please do not feed Her Highness:</b><br>

  </td>
</tr>

<tr>
  <td><b>His Highness has the following food restrictions:</b><br>

  </td>
  <td><b>Her Highness has the following food restrictions:</b><br>
 
  </td>
</tr>

<tr>
  <td><b>His Highness would like events to feature:</b><br>

  </td>
  
  <td><b>Her Highness would like events to feature:</b><br>

   </td>
</tr>

</table>