---
title: Their Royal Majesties, King and Queen of Drachenwald
---
<p align="center">
<a href="#" class="btn btn--inverse">King & Queen</a>
{% comment %}
<a href="{{ site.baseurl }}{% link royals/heirs.html %}" class="btn btn--primary">The Heirs</a>
{% endcomment %}
<a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<a name="royals"></a><div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
<img src="{% link images/royals/aerikr-jacquelyna-2021.jpg %}" width="350">
</div>

<table>
  <tr>
  <td align="center">
    <div style="text-align: center;"><strong>Æiríkr inn Hárfagri</strong><br><a href="mailto:king@drachenwald.sca.org">king@drachenwald.sca.org</a></div>
  </td>
  <td align="center">
    <div style="text-align: center;"><strong>Jacquelyna de Bellmont</strong><br><a href="mailto:queen@drachenwald.sca.org">queen@drachenwald.sca.org</a></div>
  </tr>
  
  <tr>
    <td><b>About the King </b><br>
      His Royal Majesty is a Viking from the late era, although He is also known to be dressed up in all kinds of garb that He finds during His travels (both in time and location) that He finds comfortable. When it comes to travels He is known to visit all the places in the Kingdom and enjoying the different customs that exist.
    </td>
    
    <td valign="top"><b>About the Queen</b><br>
    Her Royal Majesty is the first-born of a wealthy and noble family, that allowed Her to study and travel the world, indulging Her interests in learning about new cultures and languages. These interests brought Her from the isles of Insulae Draconis to the shores of Nordmark where She fell in love and is living happily ever after.
       </td>
  </tr>
  
  <tr>
    <td><b>His Majesty is interested in:</b><br>
      Brewing, fencing, heavy fighting, listening to songs and stories.
    </td>
    
    <td><b>Her Majesty is interested in:</b><br>
      Fencing, dancing, archery, the scribal arts, discussing Icelandic (Old Norse) names.
    </td>
  </tr>
  
  <tr>
    <td><b>His Majesty likes:</b><br>
      Talking about and teaching brewing, fencing, heavy fighting. Listening to stories and telling stories.
    </td>
    
    <td><b>Her Majesty likes:</b><br>
     To see the populace having fun. All kinds of dancing. Joyful fighting & fencing, especially where the populace can clearly hear/see what has happened in the bouts. And Her Royal Majesty likes to wash dishes... however, HRM solemnly swears that She will endeavour to allow others to take over this responsibility during the reign.
    </td>
  </tr>
  
  <tr>
    <td><b>His Majesty dislikes:</b><br>
     Modern mundane items visible at events, especially cans and bottles that look modern during feasts.
    </td>
    
    <td><b>Her Majesty dislikes:</b><br>
     Weak coffee. Mundane items visible at events. Being rushed or late.
    </td>
  </tr>
  
  <tr>
    <td><b>Please feed His Majesty:</b><br>
     Black coffee, smokey whisky, red wine, dark beer, white chocolate and meat.
    </td>
    
    <td><b>Please feed Her Majesty:</b><br>
     Strong black coffee, smooth whisk(e)y, sweet drinks, cookies, CHOCOLATE! (For this last item HRM only needs to medicate against lactose for large quantites of said item. Totally worth it.)
    </td>
  </tr>
  
  <tr>
    <td><b>Please do not feed His Majesty:</b><br>
     Sour beer.
    </td>
    
    <td><b>Please do not feed Her Majesty:</b><br>
     Saffron, fresh coriander, prosecco, smokey whiskey, hoppy beer.
    </td>
  </tr>
  
  <tr>
    <td><b>His Majesty has the following food restrictions:</b><br>
       None
    </td>
    <td><b>Her Majesty has the following food restrictions:</b><br>
     Lactose intolerant (moderate amounts of lactose are okay as long as Her Majesty is informed of the existence of lactose in the dishes).
    </td>
  </tr>
  
  <tr>
    <td><b>His Majesty would like events to feature:</b><br>
     Time for socializing and relaxing, fencing and/or heavy fighting, beer and mead tasting.
    </td>
    
    <td><b>Her Majesty would like events to feature:</b><br>
    Time for socializing, dancing.
     </td>
  </tr>
  
  </table>
